{% extends 'base.html' %}
{% block title %}{{ blog.title }}{% endblock %}
{% block content %}

<main role="main">
    <div class="container">
        <h1 class="text-center pt-3">{{ blog.title }}</h1>
        <p class="text-center">{{ blog.pub_date }}</p>
        <hr />
            <img class="img-fluid" style="float: left; margin-right: 10px; margin-bottom: 5px" src="{{ blog.image.url }}" />
            <p class="card-text"><b>{{ blog.body }}</b></p>
    </div>
</main>
    <hr />
{% endblock %}