{% extends 'base.html' %}

{% load staticfiles %}
{% block title %}Sujay's{% endblock %}
{% block content %}

<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Hi I'm Sujayeendra.</h1>
        <p class="lead text-muted">Hey my name is Sujay and I love to make Django Web Applications.<br /><h5>Explicit is better that Implicit.</h5><p>
      <p>
      <a href="mailto:sujay@technodreamsit.com" class="btn btn-primary my-2">Email</a>
      </p>
      <img class="img-fluid" width="50%" height="200" src="{% static 'suji.jpg' %}" />
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">
        {% for job in job.all %}
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <a href="#"><img class="bd-placeholder-img card-img-top" width="100%" height="225" src="{{ job.image.url }}" /></a>
            <div class="card-body">
              <p class="card-text"><b><a href="#">{{ job.summary_pretty }}</a></b></p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

</main>

{% endblock %}